                      
<!-- An optional Header Image -->
{{ if .Params.header.image }}
<div class="article-header">
  <img src="{{ "/img/" | relURL }}/{{ .Params.header.image }}" class="article-banner" itemprop="image">
  {{ with .Params.header.caption }}<span class="article-header-caption">{{ . | markdownify | emojify }}</span>{{ end }}
</div>
{{end}}


   <!-- List pages can get Content and yaml metadata from an _index.md -->
  {{ with .Content }}<div class="article-style" itemprop="articleBody">{{ . }}</div>{{ end }}


  <div class="row">
    <table class="col-11">
    {{ range .Paginator.Pages }}
    <tr class="article">
      <td class="col-2 p-2 text-center">
      {{if .Params.image }}
          <img style="height:auto;max-width:75px;" alt="{{ substr .Params.image 5 -4 }} logo" src="{{ .Params.image }}" height="50px"/>
      {{ end }}
      </td>
      <td>
          <h3><a href="{{ .RelPermalink }}">{{ .Title }}</a></h3>
      </td>
    </tr>
    {{ end }}
    </table>

	{{ if or (.Paginator.HasPrev) (.Paginator.HasNext) }}
	<nav class="mt-5">
	  <table class="col-12">
	  <tr class="pager">
	    <td class="col-4 text-end">
	    {{ if .Paginator.HasPrev }}
                <a href="{{ .Paginator.Prev.URL | relURL }}">&laquo; Previous</a>
            {{ end }}
            </td>
            <td class="col-4 text-center">
                {{ .Paginator.PageNumber }} of {{ .Paginator.TotalPages }}</td>
	    <td class="col-4 text-start">
	    {{ if .Paginator.HasNext }}
		<a href="{{ .Paginator.Next.URL | relURL }}">Next &raquo;</a>
	    {{ end }}
            </td>
	  </tr>
          </table>
	</nav>
	{{ end }}

  </div>
