<footer class="site-footer"  style="font-size:30px">
  <hr />
  <div class="container">
<!--************** FOAF information to social networks ***************************** -->
  <div class="row">
    <div class="col-md-3 col-xs-4">
      <p>
          <a href="https://github.com/{{.Site.Params.github}}"><i class="fa fa-github"></i></span></a>
       </p>
    </div>

    
    <!--**************** End social links **************************** -->


    <div class="col-md-4 col-md-offset-1 col-xs-4">
    </div>


    <div class="col-md-3 col-md-offset-1 col-xs-4">
      <p>
      <a rel="license" property="http://creativecommons.org/ns#license" href="http://creativecommons.org/publicdomain/zero/1.0/"><img src="{{ "/img/cc-zero.svg" | relURL }}" alt="CC0"/></a> 
      </p>
    </div>
  </div>
</footer>

