        <div id="app"></div>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/react/16.4.2/umd/react.production.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/react-dom/16.4.2/umd/react-dom.production.min.js"></script>
        <script src="https://unpkg.com/react-jsonschema-form/dist/react-jsonschema-form.js"></script>
        <script type="text/javascript" src="/schema.json"></script>
        <script type="text/javascript" src="/uiSchema.json"></script>

        <script>
            const Form = JSONSchemaForm.default;
  

  const formData= {

  }

            const log = (type) => console.log.bind(console, type);

            ReactDOM.render(React.createElement(Form, {
                schema: schema,
                uiSchema: uiSchema,
                formData: formData,
                onChange: log("changed"),
                onSubmit: log("submitted"),
                onError: log("errors")
            }), document.getElementById("app"));
        </script>